{% extends "layout.html" %}

{% block extraHead %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/login.css") }}" type="text/css"/>
{% endblock %}

{% block mainBody %}
    <div class="loginContainer">
        <form id="formLogin" action="/log_in" method="post">
            <div class="border">
                <img src="{{ url_for("static", filename="images/login.jpg") }}"/>
                <p class="errMsg">
                    {{get_flashed_messages()[0]}}
                </p>
                <p class="pline">username:</p>
                <p class="pline">
                    <input name="username" type="text" style="width: 240px; height: 15px;" placeholder="enter username"/>
                </p>
                <p class="pline">password:</p>
                <p class="pline">
                    <input name="password" type="password" style="width: 240px; height: 15px;" placeholder="password"/>
                </p>
                <p class="pline">
                    <input id="rememberme" type="checkbox"/> <label for="rememberme">remenber
                    me</label>
                </p>
                <p class="pline" style="margin-bottom: 10px">
                    <button id="btnlogin" onclick="submit">
                        <img src="{{ url_for("static", filename="images/loginButton.jpg") }}"/>
                    </button>
                </p>

            </div>
        </form>
        <div class="border" style="margin-top: 30px">
            Do not have an account? <a href="/register">REGISTER NOW</a>
        </div>
    </div>


{% endblock %}