{% extends "layout.html" %}

{% block extraHead %}
    <link rel="stylesheet" href="{{ loginCss }}" type="text/css"/>
{% endblock %}

{% block mainBody %}
    <div class="loginContainer">
        <form id="formLogin" action="/login" method="get">
            <div class="border">
                <img src="{{ login }}"/>
                <p class="pline">username:</p>
                <p class="pline">
                    <input name="username" type="text" style="width: 240px; height: 15px;"/>
                </p>
                <p class="pline">password:</p>
                <p class="pline">
                    <input name="password" type="password" style="width: 240px; height: 15px;"/>
                </p>
                <p class="pline">
                    <input id="rememberme" type="checkbox"/> <label for="rememberme">remenber
                    me</label>
                </p>
                <p class="pline" style="margin-bottom: 10px">
                    <button id="btnlogin" onclick="submit">
                        <img src="{{ loginButton }}"/>
                    </button>
                </p>
            </div>
        </form>
        <div class="border" style="margin-top: 30px">
            Do not have an account? <a href="#">REGISTER NOW</a>
        </div>
    </div>


{% endblock %}