{% extends "layout.html" %}

{% block extraHead %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/register.css") }}" type="text/css"/>
{% endblock %}

{% block mainBody %}
    <div class="registerContainer">
        <div class="border">
            <img width="100" height="100" src="{{url_for("static", filename="images/register.png")}}" />
            <form id="formRegister" action="/register" method="post">
                <p class="text1">user name：</p>
                <p class="text1">
                    <input class="text1" name="username" type="text" style="width: 240px; height: 25px;" />
                </p>
                <p class="text1">password：</p>
                <p class="text1">
                    <input class="text1" name="password" type="password" style="width: 240px; height: 25px;" />
                </p>
                <p class="text3">{{get_flashed_messages()[0]}} </p>
                <p class="text1">
                    <button onclick="submit" style="margin: 0; padding: 0; border-width: 0;">
                        <img width="70" height="25"
                             src="{{url_for("static", filename="images/registerButton.png")}}" />
                    </button>
                    <a style="font-size:10px; margin-left:15px;" href="/">back to log in !</a>
                </p>
             </form>
        </div>
    </div>


{% endblock %}