html, #page {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: darkgreen;
}

#page {
    background: #fff;
}

#header, #footer, #top-nav, #content, #content #contentbar, #content #sidebar {
    margin: 0;
    padding: 0;
}

/* Logo */
#logo {
    padding: 0;
    width: auto;
    float: left;
}

#logo h1 a, h1 a:hover {
    color: dodgerblue;
    text-decoration: none;
}

#logo h1 span {
    color: deepskyblue;
}

/* Header */
#header {
    background: #fff;
}

#header-inner {
    margin: 0 auto;
    padding: 0;
    width: 970px;
}

/* Feature */
.feature {
    background: green;
    padding: 18px;
}

.feature-inner {
    margin: auto;
    width: 970px;
}

.feature-inner h1 {
    color: #DAE9BC;
    font-size: 32px;
}

/* Menu */
#top-nav {
    margin: 0 auto;
    padding: 0px 0 0;
    height: 37px;
    float: right;
}

#top-nav ul {
    list-style: none;
    padding: 0;
    height: 37px;
    float: left;
}

#top-nav ul li {
    margin: 0;
    padding: 0 0 0 8px;
    float: left;
}

#top-nav ul li a {
    display: block;
    margin: 0;
    padding: 8px 20px;
    color: green;
    text-decoration: none;
    font-size: 14px;
}

#top-nav ul li.active a, #top-nav ul li a:hover {
    color: #BCCE98;
}

/* Footerblurb */
#footerblurb {
    background: #DAE9BC;
    color: green;
}

#footerblurb-inner {
    margin: 0 auto;
    width: 922px;
    padding: 24px;
}

#footerblurb .column {
    margin: 0;
    text-align: justify;
    float: left;
    width: 250px;
    padding: 0 24px;
}

/* Footer */
#footer {
    background: #fff;
}

#footer-inner {
    margin: auto;
    text-align: center;
    padding: 12px;
    width: 922px;
    font-size: 10px;
}

#footer a {
    color: green;
    text-decoration: none;
}

/* Clear both sides to assist with div alignment  */
.clr {
    clear: both;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 0px;
    line-height: 0px;
}

/* frame body */
#mainBody {
    width: 100%;
    height: 500px;
    background-color: cornsilk;
}